/* responsive start */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    margin: 5px;
    /* border-radius: 3px; */
    border-bottom: 1.5px solid #c7c7c7;
    text-align: left;
    color: #3f85f3;
    font-weight: bold;
    font-size: 20px;
}

.header a {
    color: #3f85f3;
    font-weight: bold;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    /* border-radius: 10px; */
}

.header a:focus, .header a:hover {
    text-decoration: underline
}

.header a:link:active, .header a:link:focus, .header a:link:hover, .header a:visited:active, .header a:visited:focus, .header a:visited:hover {
    color: #3f85f3;
    text-decoration: none
}

.header li {
    padding: 0px;
}

.header li a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu {
    font-size: 18px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    /* border-radius: 4px; */
    /* background-color: #3f85f3; */
}

.menu li {
    /* background-color: #d1d1d1; */
    /* margin: 1.5px; */
    /* border-radius: 3px; */
    /* border-bottom: solid 1px #b8cde4; */
    border-radius: 4px;
    /* margin-bottom: 2px; */
}

.menu hr {
    margin-bottom: -2px;
    margin-top: -1px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: #c7c7c7;
}

.menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    /* border-bottom: solid 3px #b8cde4; */
}

.menu li:first-child {
    /* border-top: solid 3px #b8cde4; */
}

.presets ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li:hover {
    background-color: #849bc2;
}

.aside {
    background-color: #849bc2;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}

.footer {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
    color: #3f85f3;
    padding-left: 5px;
    padding-right: 5px;
    /* border-radius: 3px; */
    border-top: 1.5px solid #c7c7c7;
}

.menu a:link, .menu a:visited {
    color: #3f85f3;
    font-weight: normal;
    padding: 10px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    word-wrap: normal;
    /* border-radius: 10px; */
}

.menu li {
    padding: 0px;
}

.menu li a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.menu a:link:active, .menu a:link:focus, .menu a:link:hover, .menu a:visited:active, .menu a:visited:focus, .menu a:visited:hover {
    color: #ffffff;
    text-decoration: none
}

.presets li {
    font-size: 12px;
}

.presets a:link, .menu a:visited {
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

a:hover, a:active {
    color: #ffffff;
}

/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
        box-shadow: -5px 0 5px -5px #666, 5px 0 5px -5px #666;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

/* responsive end */

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    /* color: #000000; */
    color: #707070;
}

fieldset {
    border: none 1px #b8cde4;
    border-radius: 8px;
    display: inline-block;
    width: 100%;
}

.content {
    border: none;
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    border-top: solid 1px #c7c7c7;
}

.paragraph {
    border: none;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.unit {
    margin: 5px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-weight: bold;
}

.section {
    margin: 5px;
    background-color: #849bc2;
    /* border: solid 1.5px #b8cde4; */
    border-radius: 8px;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: bold;
}

.section {
    margin: 5px;
    background-color: #849bc2;
    /* border: solid 1.5px #b8cde4; */
    border-radius: 8px;
    color: #ffffff;
    padding: 5px 10px;
    font-weight: bold;
}

.ingredient-selector {
    padding-top: 5px;
    padding-bottom: 8px;
    color: #000000
}

legend {
    /* background-color: #b8cde4; */
    color: #3f85f3;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}

.convert-heading {
    /* background-color: #b8cde4; */
    color: #3f85f3;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
}

input {
    margin: 5px;
    font-family: Verdana;
    font-size: 16px;
    color: #000000
}

/* button {
    font-family: Verdana;
    font-size: 13px;
    color: #000000;
} */

button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.18em;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 13px;
    color: #000000;
    text-align: center;
    transition: all 0.05s;
    background-color: #ffffff;
}

button:hover {
    color: #3f85f3;
    border: 0.1em solid #3f85f3;
    background-color: #ffffff;
}

@media all and (max-width:30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}

.container {
    max-width: 600px;
    /* border-radius: 3px; */
    padding: 7px;
    /* background-color: #eee2dc; */
    display: inline-block;
    /* box-shadow: 0 10px 15px #333; */
    margin: auto;
}

.flip {
    display: inline-block;
    font-size: 20px;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table td, table th {
    padding: 10px;
    font-weight: bold;
}

table th {
    color: #ffffff;
    background-color: #3f85f3;
}

table td {
    border-radius: 2px;
}

table tr:nth-child(even) {
    background-color: #bbbbbb;
    color: #ffffff
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

.table_title {
    text-align: center;
    color: #3f85f3;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #00458b;
    text-decoration: none
}

a:focus, a:hover {
    text-decoration: underline
}

a:link, a:visited {
    color: #00458b;
    text-decoration: none
}

a:link:active, a:link:focus, a:link:hover, a:visited:active, a:visited:focus, a:visited:hover {
    text-decoration: underline
}